---
import BaseLayout from "../layouts/BaseLayout.astro"
import PostsList from "../components/PostsList.astro"

---

<BaseLayout title="marco-mattiuz">
	<div class="main-container">
		<div class="shadow-container">
			<PostsList />
			<div class="box-right">
				<div>
					<img class="my-img" src="images/faceAscii.png" width="400px"/>
				</div>
					<h1>I'm Marco Mattiuz</h1>
					<p>I may be a robot (not sure yet)</p>

					
			</div>
		</div>
	</div>
</BaseLayout>
