---
import BaseLayout from "../layouts/BaseLayout.astro"
import PostsList from "../components/PostsList.astro"
---

<BaseLayout title="marco-mattiuz">
	<div class="main-container">
		<div class="shadow-container">
			<PostsList />
		</div>
	</div>
</BaseLayout>
