---

---

<header>
    <a href="/">H⌂me</a>
</header>

<style>
    header{
        position: fixed;
        top: 0;
        margin: 2rem;
    }
    a{
        display: inline-block;
        font-size: 2.5rem;
        cursor: pointer;
    /* pointer-events: none;  */
        text-decoration: none; /* Rimuove la sottolineatura */
        color: inherit; 
        background: none; /* Rimuove qualsiasi background */
        padding: 0; /* Rimuove qualsiasi padding */
        margin: 0; /* Rimuove qualsiasi margine */
        border: none; /* Rimuove qualsiasi bordo */
        outline: none; 
        text-shadow:  100px 100px 100px 10px var(--shadow-color); 
    }

    a:hover{
        transform: scale(1.2);
    }
    
</style>