---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
import Header from "../components/Header.astro"
---

<BaseLayout title = {frontmatter.title}>
    <Header />
<h1>{frontmatter.title}</h1>
<h3 >{frontmatter.description}</h5>
<p>publication date: {frontmatter.pubDate.toString().slice(0,10)}</p>

<slot />
</BaseLayout>

<style>
    body{
        flex-flow: column;
    }
    p,h1,h2,h3,h4,h5,h6{
        margin-bottom: 2rem;
    }


</style>
